.first_part .change_shape_and_direction{
    width: 50%;
    height: 100%;
    border-radius: 0px 25px 25px 0px;
    padding: 40px;
    box-sizing: border-box;
    display: inline-block;
}

.first_part .change_shape_and_direction .s_block_of_button{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.first_part .change_shape_and_direction button{
    background-color: white;
    height: 100%;
    border-radius: 25px;
    box-shadow: 0px 0px 4px 0px;  
    outline: none;
    border: none;
    margin: 0px 20px 0px 20px;
    font-family: cursive;  
}


.first_part .change_shape_and_direction .second_grid_container{
    width: 100%;
    margin-top: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    height: calc(100% - 100px);
    box-shadow: 0px 0px 7px 0 black;
    border-radius: 30px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.first_part .change_shape_and_direction .second_grid_container span{
    background-color: blueviolet;
    border: 1px dashed burlywood;
    border-radius: 10px;
    /* animation: sign 0.75s linear 1; */
}

.blink_animation{
    animation: sign 0.75s linear infinite;
}

.first_part .change_shape_and_direction .second_grid_container span:nth-child(4n-3){
    animation-delay: 0s;
}

.first_part .change_shape_and_direction .second_grid_container span:nth-child(4n-2){
    animation-delay: 0.1875s;
}

.first_part .change_shape_and_direction .second_grid_container span:nth-child(4n-1){
    animation-delay: 0.375s;
}

.first_part .change_shape_and_direction .second_grid_container span:nth-child(4n){
    animation-delay: 0.5625s;
}

@keyframes sign{
    25%{
        border-radius: 15px;
        box-shadow: 0px 0px 20px 12px blanchedalmond;
        background-color: chartreuse;
    }
    50%{
        border-radius: 10px;
        background-color: turquoise;
    }
    75%{
        border-radius: 15px;
        background-color: gainsboro;
    }
    100%{
        border-radius: 10px;
        background-color: floralwhite;
    }
}